<!-- <div>Hello Shikikie {{ title }}</div>

@if (isAdmin){
  <div>Your're Admin</div>
}@else{
  <div>Your're not Admin</div>
}

<ul>
  @for (brand of brands; track $index){
    <li>{{$index + 1}} :  {{brand}}</li>
  }
</ul>

<app-employee></app-employee>

<div>First Name = <input [(ngModel)]="fname" /></div>
<div>Last Name = <input [(ngModel)]="lname" /></div>
<div>{{fname}} {{lname}}</div>

<div (click)="toggle()">
  <input type="checkbox" [(ngModel)]="checked">
  click here for toggle
</div>

<button (click)="myFunction()">click Me Alert</button> -->

<!-- <app-employee [fullName] = "fullName"> </app-employee> -->

<h1>Angular Router App</h1>
<nav>
  <ul>
    <li>
      <a href="/firstPage/10">First Page (Page is refresh)</a>  
      
    </li>
    <li>
      <a 
      routerLink="/firstPage/10"
      >First Page (Page is'n refresh)</a>
    </li>
    <li>
      <a 
      routerLink="/secondPage"
      >Second Page</a>
    </li>
    <li>
      <a 
      routerLink="/mybootstrap"
     >myBootstrap Page</a>
    </li>
    <li>
      <a 
      routerLink="/myformvalidate"
     >my-form-validate Page</a>
    </li>
    <li>
      <a 
      routerLink="/parent"
     >Parentcomponent Page</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

