<div>Hello Shikikie {{ title }}</div>

@if (isAdmin){
  <div>Your're Admin</div>
}@else{
  <div>Your're not Admin</div>
}

<ul>
  @for (brand of brands; track $index){
    <li>{{$index + 1}} :  {{brand}}</li>
  }
</ul>

<app-employee></app-employee>

<div>First Name = <input [(ngModel)]="fname" /></div>
<div>Last Name = <input [(ngModel)]="lname" /></div>
<div>{{fname}} {{lname}}</div>

<div (click)="toggle()">
  <input type="checkbox" [(ngModel)]="checked">
  click here for toggle
</div>

<button (click)="myFunction()">click Me Alert</button>

